@import '../../utils/color_variables.scss';
@import '../../utils/breakPoints.scss';

.cm-budget-container {
  width: 100%;

  & > .cm-row-fluid {
    align-items: initial;

    & > .cm-col1 {
      width: 60%;
      margin: 0 15px;
      padding-top: 30px;
      padding-left: 10px;
    }

    & > .cm-col2 {
      width: calc(40% - 60px);
      margin: 0 15px;
      padding-top: 30px;
      background-color: $baseWhite;
      height: 100vh;
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      padding-right: 15px;
      z-index: 99;
    }
  }
}

@media (max-width: $bp1) {
  .cm-budget-container {
    & > .cm-row-fluid {
      & > .cm-col1 {
        width: 55%;
      }

      & > .cm-col2 {
        width: calc(45% - 60px);
      }
    }
  }
}

@media (max-width: $bp2) {
  .cm-budget-container {
    & > .cm-row-fluid {
      flex-wrap: wrap;

      & > .cm-col1 {
        width: 100%;
        padding-left: 0;
        margin: 0 25px;
      }

      & > .cm-col2 {
        width: calc(100% - 50px);
        position: static;
        margin: 0 25px 15px;
        border-radius: 10px;
        height: auto;
        padding-right: 0;
        padding-top: 9px;
      }
    }
  }
}

@media (max-width: $bp4) {
  .cm-budget-container {
    & > .cm-row-fluid {
      margin: 0;

      & > .cm-col1 {
        padding-top: 20px;
        margin: 0;
      }

      & > .cm-col2 {
        margin: 0 0 45px;
        width: 100%;
      }
    }
  }
}
