@import '../../utils/color_variables.scss';
@import '../../utils/breakPoints.scss';

.cm-revenue-group-container {
  margin-bottom: 25px;

  .cm-revenue-date {
    text-align: center;
    background-color: $lightGray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .cm-revenue-item {
    padding: 0 10px;

    .MuiAvatar-circle {
      width: 55px;
      height: 55px;
      padding: 10px;
      background-color: $lightGray;
    }

    .cm-revenue-item-content {
      width: calc(100% - 55px);
      padding-left: 15px;
    }

    .cm-revenue-item-content .cm-categ-amt {
      font-weight: 700;
      font-size: 16px;
      padding-right: 10px;
    }

    & + .cm-revenue-item {
      margin-top: 15px;
    }
  }
}

@media (max-width: $bp1) {
  .cm-revenue-group-container .cm-revenue-item .MuiAvatar-circle {
    width: 45px;
    height: 45px;
    padding: 8px;
  }
}

@media (max-width: $bp4) {
  .cm-revenue-group-container {
    .cm-revenue-item {
      padding: 0;
    }

    .cm-revenue-date p {
      font-size: 14px;
    }

    .cm-revenue-item .cm-revenue-item-content {
      padding-left: 0;

      .cm-col1 {
        p {
          margin: 0;
        }
      }
    }
  }
}
