@import './utils/color_variables.scss';
@import './utils/breakPoints.scss';

body,
body.light-mode {
  margin: 0;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #f8f9fb;
  transition: background-color 0.2s;
}

/*------------GLOBAL STYLES------------------*/

*,
:after,
:before {
  box-sizing: border-box;
  outline: 0;
}

h1,
h2 {
  font-weight: 900;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

a {
  color: $primaryBlue;
  text-decoration: none;
}

/*--------Dark Mode Styles--------------*/

body.dark-mode {
  background-color: $primaryDark;
  color: rgba(255, 255, 255, 0.6);
  color: $dmDarkFontColor;
}

.dm-bg {
  transition: background-color 0.2s;
}

.dark-mode .dm-bg {
  background-color: #1d1d1d;
}

.dm-high-em,
.dm-low-em {
  transition: color 0.2s;
}

.dark-mode .dm-low-em {
  color: rgba(255, 255, 255, 0.6) !important;
}

.dark-mode .dm-high-em {
  color: rgba(255, 255, 255, 0.87) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-type-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-type-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dark-mode .shadow-type-1 {
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 2px rgba(255, 255, 255, 0.24);
}

.dark-mode .shadow-type-2 {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);
}

@media (max-width: $bp4) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
  }
}
