.cm-list-wrapper {
  .row-fluid {
    width: auto;
    display: flex;
  }

  .cm-col {
    width: 50%;
    padding: 0 7.5px;
  }

  .cm-col + .cm-col {
    border-left: 4px solid #000;
  }
}

.cm-total {
  display: flex;
  justify-content: center;

  h2 {
    padding: 10px;
    margin: 0;
  }
}
