@import '../../../utils/color_variables.scss';

.cm-categories-info-container {
  .MuiAppBar-colorPrimary {
    background-color: $baseWhite;
    box-shadow: none;

    .MuiTab-wrapper {
      color: #000;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .cm-scroll {
    max-height: calc(100vh - 78px);
    overflow: auto;
  }

  .cm-tab-panel {
    & > .MuiBox-root {
      padding: 15px;
    }
  }

  .MuiAppBar-root {
    position: relative;

    .cm-add-category-btn {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .MuiTabs-indicator {
    background-color: #000;
  }
}
