.cm-create-budget-page-container {
  padding: 30px 15px;
  margin: 0 auto;
  max-width: 80%;

  .cm-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0;
    width: 100%;
  }

  .cm-form-wrapper > form {
    width: 50%;
    float: left;
    padding-right: 15px;
  }

  .cm-form-wrapper > img {
    width: 50%;
    float: left;
    display: block;
    height: auto;
    padding-left: 15px;
  }

  .cm-add-revenue-container,
  .cm-add-expense-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cm-col-half {
      width: 50%;
      padding-right: 15px;
    }

    & > img {
      width: 50%;
      padding-left: 15px;
    }
  }
}
