//$primaryLight: #1539ae; //492c9c

$primaryBlue: #0068ff;
$successGreen: #2ed775;
$warningYellow: #ffd035;
$warningRed: #ff5353;
$neutralGray: #596d86;
$lightGray: #e7e7e7;
$baseWhite: #ffffff;
//$darkPrimary: #292f3f;
//$darkSecondary: #373e4e;
$borderColor: #cccccc;
//$primaryDark2: #292f3f;
$primaryDark: #1e232e;
$secDark: #373e4e;
//$secDark2: #383e4d;

//$primaryDark: #030717;
$sec1: #ae154c;
$sec2: #f66b64;
$sec3: #19af43;
$sec4: #6fddf6;
// $lightFontColor: #f6f5fa;
$darkFontColor: #000000;
$dmBg: #1d1d1d;
$dmLightFontColor: rgba(255, 255, 255, 0.6);
$dmDarkFontColor: rgba(255, 255, 255, 0.87);
