@import '../../utils/color_variables.scss';
@import '../../utils/breakPoints.scss';

.cm-expense-group-container {
  margin-bottom: 20px;

  .MuiAccordionSummary-content {
    display: block;
    margin: 0;
    width: 100%;
  }

  .MuiAccordionSummary-expandIcon {
    padding-bottom: 0;
    padding-top: 4px;
  }

  .MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
  }

  .MuiAccordionDetails-root {
    padding: 0;
  }

  .cm-expense-header {
    background-color: $lightGray;
    padding: 10px 10px 0;
    border-radius: 5px;
    margin-bottom: 0px;
    flex-wrap: wrap;

    .cm-expense-top {
      margin-bottom: 5px;

      h4 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .cm-expense-info {
    p {
      margin: 0;
      padding: 5px;
      text-align: center;

      span {
        display: block;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .cm-expense-list {
    width: 100%;
    padding: 0;

    & > p {
      text-align: center;
      margin: 0;
      padding: 5px 5px 10px;
      font-weight: 600;
    }
  }

  .cm-sub-categ-item {
    padding: 15px 5px 5px;

    & + .cm-sub-categ-item {
      margin-top: 10px;
      border-top: 5px solid #e6e6e6;
    }

    & > .MuiAvatar-circle {
      width: 55px;
      height: 55px;
      padding: 10px;
      background-color: $lightGray;
    }

    .cm-sub-categ-data {
      width: calc(100% - 55px);
      padding-left: 15px;
    }

    .cm-sub-categ-data {
      p {
        margin: 0;
      }

      .cm-sub-categ-date {
        font-size: 13px;
        color: #666;
      }

      .cm-sub-categ-amt {
        font-weight: 700;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: $bp1) {
  .cm-expense-group-container .cm-sub-categ-item > .MuiAvatar-circle {
    width: 45px;
    height: 45px;
    padding: 8px;
  }
}

@media (max-width: $bp5) {
  .cm-expense-group-container {
    .cm-expense-header .cm-expense-top h4 {
      font-size: 15px;
    }

    .cm-expense-info {
      flex-wrap: wrap;
      justify-content: space-around;

      p {
        display: flex;
        align-items: center;

        span {
          padding-left: 5px;
        }
      }
    }
  }
}
