@import '../../utils/breakPoints.scss';

.cm-header-container {
  position: absolute;
  width: 100%;
  min-height: 60px;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 99;

  &.dark {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  .cm-header-center {
    width: 80%;
  }

  &.dark .cm-header-center {
    width: 90%;
  }

  .cm-header-logo img {
    width: 180px;
  }

  &.dark .cm-header-logo img {
    width: 120px;
  }

  .cm-header-menu-container {
    ul li a:not(.cm-button-link) {
      font-size: 16px;
      color: #000;
      padding: 0 15px;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
    }

    & > ul > li + li {
      margin-left: 10px;
    }
  }
}

@media (max-width: $bp2) {
  .cm-header-container {
    .cm-header-logo {
      width: 100%;
      text-align: center;
    }

    .cm-header-menu-container {
      display: none;
    }
  }
}
