.cm-side-header-container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  padding: 20px 10px 0;
  display: flex;
  flex-flow: column;
  flex: 0 1 0;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);

  .cm-logo {
    padding-bottom: 15px;

    img {
      width: 45px;
    }
  }

  .cm-menu-ul > li {
    padding-bottom: 10px;
    text-align: center;
  }

  .cm-side-menu {
    overflow: auto;
  }
}
