@import '../../utils/breakPoints.scss';

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-size-adjust: 16px;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-size: 16px !important;
  font-family: 'Roboto', sans-serif !important;
}

.cm-form-container {
  min-width: 50%;
  .cm-form-field {
    width: 100%;
    margin-bottom: 25px;
  }

  .cm-form-field > div {
    margin-left: 0;
    margin-right: 0;
  }

  .cm-form-field-half {
    display: flex;

    & > .cm-form-field {
      width: calc(50% - 15px);
    }

    & > .cm-form-field:first-child {
      margin-right: 7.5px;
    }

    & > .cm-form-field:last-child {
      margin-left: 7.5px;
    }
  }

  .cm-form-dialog-trigger-wrapper {
    position: relative;
  }

  .cm-form-dialog-trigger {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

@media (max-width: $bp4) {
  .cm-form-container {
    .cm-form-field-half {
      display: block;

      & > .cm-form-field {
        width: 100%;
      }

      & > .cm-form-field:first-child {
        margin-right: 0;
      }

      & > .cm-form-field:last-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $bp4) {
  .cm-form-container {
    .cm-form-field {
      margin-bottom: 10px;
    }

    .MuiInputBase-root,
    .MuiFormLabel-root {
      font-size: 14px;
    }
  }
}
